<h3> Add a new blog </h3>
<%= form_with model: @blog do |form| %>

    <%= form.label :post_titles %>
    <%= form.text_field :post_titles %>

    <br>


    <%= form.label :content %>
    <%= form.text_field :content %>

    <br>

    <%= form.submit 'Add Blog' %>

    <br>

    <%= link_to 'Home', '/' %>
<% end %>

